body {
  background: #eef3f8;
  color: white;
  font-family: 'Courier New', monospace;
  margin: 0;
  padding-top: 120px;
}

.pseudo-container {
  text-align: center;
  padding: 30px;
}

.pseudo-container h2 {
  color: #b39ddb;
  font-size: 28px;
  text-shadow: 0 0 15px rgba(179, 157, 219, 0.8);
  margin-bottom: 30px;
  
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.pokemon-card {
  width: 160px;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(8px);
  border: 2px solid #9fa8da;
  box-shadow: 0 0 15px rgba(159, 168, 218, 0.4);
  transition: transform 0.3s, box-shadow 0.3s;
}

.pokemon-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 25px rgba(179, 157, 219, 0.7);
}

.pokemon-card img {
  width: 100px;
  height: 100px;
}

.pokemon-card h3 {
  margin-top: 8px;
  color: white;
  font-size: 15px;
  letter-spacing: 0.5px;
}
